/* #signup-box {
	width: 500px;
	margin: 100px;
    padding: 100px;
	background: rgb(255, 255, 255);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}
input.ng-untouched.ng-pristine.ng-valid {
    border: 2px solid;
    margin-top: 2px;
}
input.ng-pristine.ng-valid.ng-touched {
    border: 1px solid;
	
} */